@import url("reset.css");

html {
	padding: 0;
	margin: 0;
}

body {
    display: flex;
    height: 100vh;   
    justify-content: center;
    align-items: center;
	font-family: Arial, Helvetica, sans-serif;
	background: linear-gradient(hsl(202, 49%, 51%), hsl(47, 71%, 49%), hsl(331, 81%, 36%));
}

.quote-container{
	display: flex;
    flex-direction: column;
	text-align: center;
    justify-content: center;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
	border: 2px solid  white;
    min-width: 250px;
    max-width: 300px;
    min-height: 250px;
    max-height: 300px;
}

blockquote {
    color: rgb(184, 233, 188);
    font-size:75px;
    font-weight: bold;
}

blockquote:before {
	content: open-quote;
    position: relative;
    top: 45px;
    right: 120px;
}

.quote {
    color: rgb(144, 88, 190);
    font-weight: bolder;
    font-size: 20px;
    line-height: 1.6;
	margin: 0 0 1.6rem;
}

blockquote:after { 
	content: close-quote;
	float: inline-end;
    position: relative;
    left: 15px;
    bottom: 40px;
}


.author {
    font-style: italic;
    color: rgb(197, 119, 191);
	line-height: 1.6;
	margin: 0 0 1.6rem;
	font-size: 15px;
    position: relative;
    bottom: 125px;
}

/* Media Queries */

@media (min-width: 699px) {

    .quote-container{
        padding-top: 50px;
        padding-left: 50px;
        padding-right: 50px;
        min-width: 699px;
    }

    blockquote {
        font-size:100px;
    }
    
    blockquote:before {
        position: relative;
        top: 75px;
        right: 310px;
    }
    
    .quote {
        font-size: 25px;
    }
    
    blockquote:after { 
        position: relative;
        left: 38px;
        bottom: 80px;
    }
    
    
    .author {
        font-size: 25px;
        position: relative;
        bottom: 160px;
    }
}

/* Desktop Media Query */
@media (min-width: 999px) {

    .quote-container{
        padding-left: 0px;
        padding-right: 0px;
        min-width: 975px;
    }

    blockquote {
        font-size:120px;
    }

    blockquote:before {
        position: relative;
        top: 90px;
        right: 456px;
    }
    
    .quote {
        font-size: 28px;
    }
    
    blockquote:after { 
        position: relative;
        bottom: 155px;
        left: 1px;
    }
    
    
    .author {
        font-size: 30px;
        position: relative;
        bottom: 200px;
    }

}
